* {
  background-color: #EAEAE8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

span {
  font-size: 30px;
}

a {
  margin: 0 15px 0 0;
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

main {
  display: flex;
  gap: 1rem;
}

section {
  flex-grow: 1;
  margin: 3px;
  border: 10px black;
  border-radius: 10px;

  z-index: 1;
  background-color: #fafafa;
  border-radius: 24px;
  flex-direction: column;
  flex: none;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  width: 100%;
  max-width: 350px;
  height: 400px;
  padding: 24px;
  display: flex;
  position: sticky;
  top: 80px;
  overflow: hidden;

}

aside {
  flex-grow: 1;
  margin: 3px;
  border: 10px black;
  border-radius: 10px;

  max-width: 350px;
  /* or whatever size you want */
  z-index: 1;
  background-color: #fafafa;
  border-radius: 24px;
  flex-direction: column;
  flex: none;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  width: 100%;
  height: 400px;
  padding: 24px;
  display: flex;
  position: sticky;
  top: 80px;
  overflow: hidden;
}

h1 {
  text-align: center;
  background-color: transparent;
}

main p {
  text-align: center;
  background-color: transparent;
}

footer {
  width: 100%;
  text-align: center;
}

footer p {
  background-color: transparent;
}